{% extends "layout.html" %}

{% block title %}
    Change Pswd
{% endblock %}

{% block main %}
    <form action="/change_pswd" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="oldPswd" placeholder="Current Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="newPswd" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmationPswd" placeholder="Repeat New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
